<h1>About Us</h1>
<p>Polls System was created by VIP2012-09. Polls System is a user friendly tool for creating online polls. It is free to use for everyone! You can create great polls without paying anything.</p>
<p>If you have feeback. Please contact us!</p>
Anh Tuan Nguyen – email: anhtuan8591@gmail.com<br/> 
Binh Dieu Nguyen – email: dieunb@gmail.com <br/>
The Thao Nguyen – email: thaont_540@vnu.edu.vn <br/>