<script src = 'app/assets/javascripts/bootstrap-modal.js'></script>
<div class="hero-unit">
      <center>
      <p>Wellcome to poll system. You can quickly create poll and embed to your website.</p>
      </center>
      <center>
      <p><%= link_to 'CREATE NOW', new_topic_path, :class => "btn btn-primary btn-large" %><p>
      </center>  
</div>


 <% @topics.each_slice(3) do |group_of_3| %>
    <div class="row-fluid">
    <% group_of_3.each do |topic| %>
      <div class="hero-unit-1 span4">
        <ul>
          <li>
            <%= topic.name %>  
            <div class="result<%= topic.id %>">
              <% @total = 0 %> <!-- total votes of one topic -->
              <% topic.options.each do |o| %>
                <% @total = @total + o.vote %>
              <% end %>
              <% topic.options.each do |o| %>
                <%= o.content %> (<%= o.vote %> vote)
                <% if @total == 0 %>
                 <% @percen = 0 %>
                <% else %>
                <% @percen = 100*o.vote/@total %>
                <% end %>
                <div class = 'progress' >
                  <div class = 'bar' style = "width: <%= @percen %>%;">
                    <%= @percen %>%
                  </div>
                </div> 
              <% end %>
              <div>Total : <%= @total %> vote<br/><br/></div>
            </div>
            <div class="option<%= topic.id %>">
              <%= form_for topic, url: vote_topic_path(topic), method: :post do |f|%>
              <% topic.options.each do |o| %>
                <%= f.radio_button :choosen_option, o.id %><%= o.content %><br>
              <% end %>
              
              <div class="actions">
                <button class = "btn btn-primary">Vote</button>
                <a class="btn<%= topic.id%>" role="button" >Results</a><br>
              </div>  
              <% end %>
            </div>
            <div class="field">
              Embed code : <br>  
              <input value="<iframe framboder=0 scrolling='yes' height='300px' width='600px' src='http://localhost:3000/topics/<%= topic.id %>/embed'></iframe>  ">
            </div>    
            <%= link_to 'Comment', topic %>
            <% if current_user != nil and current_user.email == "admin@poll.com" %>
            <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li> 
      </ul>
    </div>
      
<!-- script for result -->    
<script type = 'text/javascript'>
  $(document).ready(function(){
  $(".btn<%= topic.id%>").click(function(){
      $(".result<%= topic.id%>").slideToggle("slow");
      $(".option<%= topic.id%>").toggle();
    });
  });  
</script>
<style type="text/css">
  div.result<%= topic.id %>{
    display: none;
  }
</style>
 
    <% end %>
  </div>
<% end %><!-- End .row-fluid -->
<div class="paginate"><%= paginate @topics %></div>
