<ul class="nav nav-tabs nav-stacked">
	<li><%= link_to 'My Poll', users_path %></li>
    <li><%= link_to 'Create Poll', new_topic_path %> </li>
    <li><%= link_to 'My Account', edit_user_registration_path %></li>
</ul>