<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @option.content %>
</p>

<p>
  <b>Vote:</b>
  <%= @option.vote %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
