<div class="left_signin">
	<%= link_to image_tag("vinova_transform.png", alt:"Vinova") %>
</div>
<div class="sign_in">
	<h2>Sign in</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %>
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %>
	  <%= f.password_field :password %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div><b>Remember : </b> <%= f.check_box :remember_me %> </div><br>
	  <% end -%>

	  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>
