<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Title Topic" %><br />
    <%= f.text_area :name, :placeholder => "Please enter topic..." %>
  </div>
  
  <div class="actions">
    <%= f.submit  :class => "btn btn-primary" %>
  </div>
<% end %>
