<h1>Editing topic</h1>

<%= render 'form' %>
<p>
	<i>Edit Option:</i><br>
		<% @topic.options.each do |o| %>
		<%= o.content %>
		<%= link_to 'Edit', edit_option_path(o)%><br>
		<% end %>
</p>
<%= link_to 'Show', @topic %> |
<%= link_to 'Back', topics_path %>
