<!-- script for result -->    
<script type = 'text/javascript'>
  $(document).ready(function(){
  $(".btn<%= @topic.id%>").click(function(){
      $(".result<%= @topic.id%>").slideToggle("slow");
      $(".option<%= @topic.id%>").toggle();
    });
  });  
</script>
<style type="text/css">
  div.result<%= @topic.id %>{
    display: none;
  }
</style>

<div class="hero-unit-1">
  <% if flash[:notice1] %>
    <div id="notice1" class = "alert alert-error"><%= flash[:notice1] %></div>
    <% else %>
    <%if flash[:notice2]%>
    <div id="notice2" class = "alert alert-success"><%= flash[:notice2] %></div>
    <% end %>
  <% end %>
  
        <ol>
          <li>
            <%= @topic.name %>  
            <div class="result<%= @topic.id %>">
              <% @total = 0 %> <!-- total votes of one topic -->
              <% @topic.options.each do |o| %>
                <% @total = @total + o.vote %>
              <% end %>
              <% @topic.options.each do |o| %>
                <%= o.content %> ( <%= o.vote %> vote )
                <% if @total == 0 %>
                 <% @percen = 0 %>
                <% else %>
                <% @percen = 100*o.vote/@total %>
                <% end %>
                <div class = 'progress' >
                  <div class = 'bar' style = "width: <%= @percen %>%;">
                    <%= @percen %>%
                  </div>
                </div> 
              <% end %>
              <div>Total : <%= @total %> vote<br/><br/></div>
            </div>
            <div class="option<%= @topic.id %>">
              <%= form_for @topic, url: embed_execute_topic_path(@topic), method: :post do |f|%>
              <% @topic.options.each do |o| %>
                <%= f.radio_button :choosen_option, o.id %><%= o.content %><br>
              <% end %>
              
              <div class="actions">
                <button class = "btn btn-primary">Vote</button>
                <a class="btn<%= @topic.id%>" role="button" >Results</a><br>
              </div>  
              <% end %>
            </div>
          </li> 
      </ol>
      </div>