<script src = 'app/assets/javascripts/bootstrap-modal.js'></script>
<div class="hero-unit">
      <center>
      <p>Wellcome to poll system. You can quickly create poll and embed to your website.</p>
      </center>
      <center>
      <p><%= link_to 'CREATE NOW', new_topic_path, :class => "btn btn-primary btn-large" %><p></center>
</div>


 <% @topics.each_slice(3) do |group_of_3| %>
    <div class="row-fluid">
    <% group_of_3.each do |topic| %>
      <div class="hero-unit-1 span4">
        <ul>
          <li>
            <div id="<%= topic.id%>" class="modal hide fade in"  >
              <div class="modal-header">
                <%= topic.name %>  
              </div>
              <div class="modal-body">
                <% @total = 0 %> <!-- total votes of one topic -->
                <% topic.options.each do |o| %>
                  <% @total = @total + o.vote %>
                <% end %>
                <% topic.options.each do |o| %>
                  <%= o.content %> (<%= o.vote %> vote)
                  <% if @total == 0 %>
                   <% @percen = 0 %>
                  <% else %>
                  <% @percen = 100*o.vote/@total %>
                  <% end %>
                  <div class = 'progress' >
                    <div class = 'bar' style = "width: <%= @percen %>%;">
                      <%= @percen %>%
                    </div>
                  </div> 
                <% end %>
                <div>Total : <%= @total %> vote<br/><br/></div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
            </div>
            <div class="option<%= topic.id %>">
              <%= topic.name %>
              <%= form_for topic, url: vote_topic_path(topic), method: :post do |f|%>
              <% topic.options.each do |o| %>
                <%= f.radio_button :choosen_option, o.id %><%= o.content %><br>
              <% end %>
              
              <div class="actions">
                <button class = "btn btn-primary">Vote</button>
                <a class="btn" href="#<%= topic.id%>"  data-toggle="modal">Results</a><br>
              </div>  
              <% end %>
            </div>
            <div class="field">
              Embed code : <br>  
              <input value="<iframe framboder=0 scrolling='yes' height='300px' width='600px' src='http://localhost:3000/topics/<%= topic.id %>/embed'></iframe>  ">
            </div>    
            <%= link_to 'Comment', topic %>
            <% if current_user != nil and current_user.email == "admin@poll.com" %>
            <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li> 
      </ul>
    </div>
    <% end %>
  </div>
<% end %><!-- End .row-fluid -->
<div class="paginate"><%= paginate @topics %></div>
