<div class="container-fluid">
  	<div class="row-fluid">
	    <div class="span3">
	    	<!--Sidebar content-->
	      	<%= render 'share/menu' %>
	    </div>
	    <div class="hero-unit-1 span9">
			<%= render 'form' %>
	    </div>
	</div>
</div>
