<p id="notice"><%= notice %></p>

<div class="row">
  <div class="hero-unit-1 span6">
  	Topic: <%= @topic.name %>
  		<div class="result">
              <% @total = 0 %> <!-- total votes of one topic -->
              <% @topic.options.each do |o| %>
                <% @total = @total + o.vote %>
              <% end %>
              <% @topic.options.each do |o| %>
                <%= o.content %> (<%= o.vote %> vote)
                <% if @total == 0 %>
                 <% @percen = 0 %>
                <% else %>
                <% @percen = 100*o.vote/@total %>
                <% end %>
                <div class = 'progress' >
                  <div class = 'bar' style = "width: <%= @percen %>%;">
                    <%= @percen %>%
                  </div>
                </div> 
              <% end %>
            <div>Total : <%= @total %> vote<br/><br/></div>
     	</div>	
  </div>

<% if current_user && current_user.id == @topic.user_id %>
  	<div class="hero-unit-1 span5">
	  	<p>Create options for topics</p>
		<%=	 form_for([@topic, @topic.options.build]) do |f| %>
			<div class="field">
				<%= f.text_field :content %>	
			</div>
			<div class="actions">
				<button class = "btn btn-primary">Creat</button>
				<%= link_to 'Back',  users_path, :class => "btn btn-primary" %>
			</div>
		<% end %>
	</div>
<% else %>
	<div class="hero-unit-1 span5">
	    <center>
	    	<p>Wellcome to poll system. You can quickly create poll and embed to your website.</p>
	    </center>
	    <center>
	    	<p><%= link_to 'CREATE NOW', new_topic_path, :class => "btn btn-primary btn-large" %><p>	    		
	    </center>
	</div>
<% end %>

<div class="hero-unit-1 span6">
	<% @topic.comments.each do |comment| %>
	  	<% if comment.user_id == "123456" %>
	      <%= image_tag("/assets/ava.jpg",:height => '80', :class => 'gravatar', :position => 'absolute') %>&nbsp;&nbsp;<%= comment.c_content %> <hr />
	  	<% end %>
	   	<% @users.each do |u| %>  
	      	<% if comment.user_id == u.id %>
	       		<%= gravatar_for u %>&nbsp;&nbsp;<%= comment.c_content %><hr />
	    	<% end %>    
	   	<% end %>   
	<% end %>
</div>
<div class="hero-unit-1 span6">
	  	<p>Create comment for topics</p>
		<%=	 form_for([@topic, @topic.comments.build]) do |c| %>
			<div class="field">
				<%= c.text_area :c_content %>	
				<% if current_user %>
					<div style="float: left; margin-right: 25px; height: 90px;"><%= gravatar_for current_user %></div>
				<% else %>
					<div style="float: left; margin-right: 25px; height: 90px;"><%= image_tag("/assets/ava.jpg", :size => 50) %></div>
				<% end %>		
			</div>

			<div class="actions">
				<button class = "btn btn-primary" >Comment</button>
			</div>
		<% end %>
</div>
</div>