<div class="left_signin">
	<%= link_to image_tag("vinova_transform.png", alt:"Vinova") %>
</div>
<div class="sign_in">
	<h2>Forgot your password?</h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email %></div>

	  <div><%= f.submit "Send me reset password instructions", class:"btn btn-primary" %></div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>
