@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body.stardand {
  padding-top: 60px;
  background: none repeat scroll 0% 0% rgb(137, 181, 86);
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  width:300px;
  height:50px;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a{
  color: #555;
}  
a:hover { 
  color: #111;
  text-decoration: none;
}

ul{
  list-style:none;
  padding:0px;
  margin:0px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}




/* footer */

footer {
  margin: 20px 150px;
  padding-top: 5px;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
  color: #000;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.hero-unit-1 {
    padding: 10px;
    margin-bottom: 30px;
    background-color: rgb(238, 238, 238);
    border-radius: 6px 6px 6px 6px;
}
.page ul.paginate{
  clear:both;
  margin-left:300px;
  background-color: red;
}

/* SIGN IN */
.left_signin{
  width:600px;
  float:left;
  text-align:left;
  margin-top:30px;
  padding-top:10px;
  heiht:300px;
}
.left_signin h2{
  text-align: left;
}
.left_signin ul{
  pading:0px;
  margin:0px;
  list-style: none;
}
.sign_in, .sign_up{
  margin-left:600px;
  margin-top:30px;
  padding-left:15px;
  padding-top:15px;
  padding-bottom: 15px;
  background-color:#EEE;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;  

}
.sign_in label, .sign_up label{
  font-weight: bold;
}
.sign_in h2, .sign_up h2{
  text-align: left;
}

/* PROGRESS BAR */
.progress{
  height:15px;
}