<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Poll System", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", topics_path %></li>
          <li><%= link_to "About",   about_path %></li>                      
          <% if signed_in? %>
            <li><%= link_to current_user.email, users_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>             
            <li><%= link_to "Sign Up",  new_user_registration_path %></li>
          <% end %>          
        </ul>
      </nav>
    </div>
  </div>
</header>