<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>  

  </head>
  <body class="stardand">
    <%= render 'layouts/header' %>
    <div class="container">
        <% if flash[:notice] %>
          <div id="notice1" class = "alert alert-error"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:success] %>
          <div id="notice1" class = "alert alert-success"><%= flash[:success] %></div>
        <% end %>

        <%= yield %>          
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>