<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->
      <%= render 'share/menu' %>
    </div>
    <div class="span9">
      <!--Body content-->
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label :email %>
        <%= f.email_field :email %></div><br />

        <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, :autocomplete => "off" %></div><br />

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div><br />

        <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password %></div><br />

        <div><%= f.submit "Update", :class =>"btn btn-primary" %></div>
      <% end %>

      
    </div>
  </div>
</div>

