<div class="left_signin">
	<%= link_to image_tag("vinova_transform.png", alt:"Vinova") %>
</div>
<div class="sign_up">
	<h2>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %>
	  <%= f.email_field :email %></div>

	  <div><%= f.label :password %>
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation %>
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Sign up", :class => "btn btn-primary" %></div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>
